*.icon-white {
  color: white;
}
*.icon-silver {
  color: silver;
}
*.icon-green {
  color: green;
}
*.icon-gray {
  color: gray;
}

.score {
  flex-grow: 1;
  text-align: right;
}

.meter {
  flex-basis: 100%;
  margin-top: 4px;
}

.image-box {
  width: 350px;
}

#map {
  height: 400px;
  width: 600px;
}
